* {
    font-family: "Sen", sans-serif;
}

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.nav-link {
    color: #8a8a8a !important;
}

.nav-link.active {
    color: #2b2b2b !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #b8860b;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #e8e8e8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fs-48 {
    font-size: 48px;
}

.about {
    background-color: #e8e8e8;
}

.border-l-white {
    border-left: 10px solid white;
}

.text-orange {
    color: #b87333;
}

.text-5f5f5f {
    color: #5f5f5f;
}

.fs-15 {
    font-size: 15px;
}

.fs-13 {
    font-size: 13px;
}

.fs-24 {
    font-size: 24px;
}

.text-justify {
    text-align: justify;
}

.dual-slider img {
    height: 250px;
    display: block;
    margin: auto;
}

.btn-gray {
    background-color: #dfdfdf !important;
    border-color: #dfdfdf !important;
}

.fs-14 {
    font-size: 14px;
}

.to-top {
    background: #dfdfdf;
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 50px;
}

.fs-11 {
    font-size: 11px;
}